<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Edit User</h1>
        <form th:action="@{/users/{id}/update(id=${user.id})}" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:value="${user.name}" required>
            </div>
            <button type="submit" class="btn-submit">Update User</button>
            <a href="/users" class="btn-cancel">Cancel</a>
        </form>
    </div>
</body>
</html>